body {
    background-color: rgb(244, 229, 187);
    font-family:'Times New Roman', Times, serif;
}
.title {
    color: rgb(171, 39, 2);
    text-align: center;
}

.heading {
    text-align: center;
}

.description {
    text-align: center;
}
#score {
    text-align: center;
    font-size: 2em;
    color:rgb(171, 39, 2);
    font-weight: bolder;

}

#meaning {
    text-align: center;
    font-size: .8em;
}

.button {
    border: none;
    text-decoration: none;
    font-size: 16px;
}

#buttondiv {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
