@font-face {
    font-family: 'Varela Round';
    src: URL('./VarelaRound-Regular.ttf') format('truetype');
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round'; font-size: 25px;
    text-decoration: none;
}
body {
    background-color: #081936;
}
.header {
    float: right;
}
.navbar a {
    margin: 0;
    padding: 10px;
    float: left;
    color: rgb(47, 214, 136);
    font-weight: bolder;
    font-size: 24px;
    text-decoration: none;
    transition: .3s;
}
.navbar a:hover {
    color:rgb(101, 255, 183);
    font-size: 26px;
}
.home {
    position: relative;
    color: rgb(208, 226, 242);
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;

}

.home-content h1 span{
    font-size:55px;
    color: rgb(47, 214, 136);
}

.home-content p {
    color: rgba(208, 226, 242, 0.426);
    font-size: 30px;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(47, 214, 136);
    border-radius: 50%;
    color:rgb(47, 214, 136);
    margin: 20px 15px 20px 0;

}

.home-sci a:hover {
    background: rgb(47, 214, 136);
    color: #081936;
    box-shadow: 0 0 5px rgb(47, 214, 136);
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 40px;
    background: rgb(47, 214, 136);
    font-size: 16px;
    color:#081936;
    letter-spacing: 1px;
    font-weight: 600;
}
.btn-box:hover {
    box-shadow: 0 0 10px rgb(47, 214, 136);
}

img[src*="bio_photo.png"] {
    border-radius: 50%;
    object-fit: cover;
     width: 530px;
     height: 530px;
}